.headerWrapper {
  background-image: linear-gradient(var(--clr-purple1), var(--clr-purple2), var(--clr-purple3)),
  url("../../assets/background.jpg");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 16rem;
  flex-wrap: wrap;
  color: var(--clr-white);

  .searchBlock {
    max-width: var(--max-width);
    width: 100%;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;

    .inputBlock {
      display: flex;
      width: 100%;

      input {
        width: 100%;
      }

      button {
        border: none;
        background: none;
        cursor: pointer;
        box-shadow: none;
      }

      .searchIcon {
        width: 25px;
        height: auto;
      }
    }

    .selectsBlock {
      gap: 1rem;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 70%;
      font-weight: 500;

      .labelContainer {
        display: flex;
        gap: 1rem;
        align-items: center;
      }
    }
  }
}

@media (max-width: 640px) {
  .headerWrapper {
    min-width: 320px;
    padding: 1rem;
    flex-direction: column;
    text-align: center;

    .searchBlock {
      flex-flow: column;
      justify-content: center;

      .selectsBlock {
        justify-content: center;

        .labelContainer {
          flex-direction: column;
        }
      }
    }
  }
}
