.singleBook {
  display: flex;
  flex-direction: column;
  background-color: var(--clr-white);
  width: 200px;
  height: auto;
  border-radius: 0.5em;
  box-shadow:var(--dark-shadow);

  .bookCover {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;

    img {
      display: flex;
      align-self: center;
      height: 160px;
      width: 120px;
      object-fit: fill;
      border-radius: 0.5em;
      box-shadow:var(--dark-shadow);
    }
  }

  .textBlock {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;


    .category {
      font-size: 0.6rem;
      color: var(--clr-purple2);
      margin-bottom: 0.5rem;


    }
    .authors {
      font-size: 0.6rem;
      font-weight: 500;
    }
    .title {
      margin-top: 0;
      font-size: 0.8rem;
      color: var(--clr-black);
      margin-bottom: 0;



    }
  }
}
